#           _ _                   __ _
#      __ _(_| |_ ___ ___  _ __  / _(_) __ _
#     / _` | | __/ __/ _ \| '_ \| |_| |/ _` |
#    | (_| | | || (_| (_) | | | |  _| | (_| |
#   (_\__, |_|\__\___\___/|_| |_|_| |_|\__, |
#     |___/                            |___/

[alias]
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
    amend = commit --amend --reuse-message=HEAD
    branches = "for-each-ref --sort='-committerdate:iso8601' --format='%(authordate:relative)%09%(refname:short)' refs/heads"
    contributors = shortlog --summary --numbered
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

[core]
    editor = vim
    precomposeunicode = false  # Prevent showing files whose names contain non-ASCII symbols as unversioned.

[color]
    ui = always

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold        # line info
    old = red                  # deletions
    new = green                # additions

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[diff]
    renames = copies           # Detect copies as well as renames

[diff "bin"]
    textconv = hexdump -v -C   # Use `hexdump` to diff binary files

[help]
    autocorrect = 1            # Automatically correct and execute mistyped commands

[merge]
    log = true                 # Include summaries of merged commits in newly created merge commit messages

[push]
    default = current

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[user]
    name = hl
    email = evturn@gmail.com
    name = Evan Turner